.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-text-color);
    background-color: #000000aa;
    z-index: 1;
    font-size: 13.5px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.5rem 1rem;
    width: 100%;
}

.footer p {
    margin: 0;
    flex: 1;
    text-align: center;
    margin-left: 8px;
}

.footer ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.footer a {
    position: relative;
    text-decoration: none;
    color: rgb(241, 233, 233);
    padding: 0 0.25rem;
}

.footer a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(205, 193, 193);
    transition: width .3s;
}

.footer a:hover::after {
    width: 100%;
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: center;
      }
    .footer p {
        margin-left: 0;
    }
  }
