html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.pane {
  position: absolute;
  top: 20%;
  left: 3%;
  /* transform: translate(-30%, -50%); */
  z-index: 10;
}

.drag-handle {
  width: 100%;
  height: 20px;
  background: lightgray;
  cursor: grab;
  position: absolute;
  top: -5%;
  left: 0;
  right: 0;
  z-index: -1; /* Ensure it's above other elements */
}