html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.pane {
  position: absolute;
  top: 20%;
  left: 3%;
  /* transform: translate(-30%, -50%); */
  z-index: 10;
}

.panePlugin {
  position: absolute;
  top: 40px;
  right: 15px;
  /* transform: translate(-30%, -50%); */
  z-index: 10;
}

@media (max-width: 600px) {
  .panePlugin {
    top: 60px;
  }
}
